<script data-main="js/queue.js" src="js/libs/require.min.js"></script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= title %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Checker queue</a></li>
          <li><a href="/submit">Submit new</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class=""><a href="#" class="userinfo"><%= user.name %> (<%= user.email %>)</a></li>
          <li class="divider-vertical"></li>
          <li class=""><a href="#" class="logout">Sign out</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">

	<div class="row">
		<div class="span12">
			<input type="hidden" id="project" value="<%= current %>">
			<select id="project" class="pull-right">
				<% for (project in projects) {
						if (current == project) { %>
						<option selected="selected"><%= project %></option>
					<% } else { %>
						<option><%= project %></option>
					<% } %>
				<% } %>
			</select>
		</div>
	</div>
	<h1>Pending</h1><br>
  <div id="pending-queue"></div>

  <h1>Processed</h1><br>
  <div id="processed-queue"></div>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

</div> <!-- /container -->
